{
    "Connections": [
        {
            "Key": "Default",
            "ConnectionString": "Data Source=94.73.147.6;Initial Catalog=DB150130163857; User Id=USR150130163857;Password=PSS!N2F6L0%;",
            "ProviderName": "System.Data.SqlClient",
            "Tables": []
        },
        {
            "Key": "Natro_TvHastanesi",
            "ConnectionString": "Data Source=94.73.147.6;Initial Catalog=DB150130163857; User Id=USR150130163857;Password=PSS!N2F6L0%;",
            "ProviderName": "System.Data.SqlClient",
            "Tables": [
                {
                    "Tablename": "TvH__ServiceTickets",
                    "Identifier": "ServiceTicket",
                    "Module": "TvHastanesi",
                    "ConnectionKey": "Natro_TvHastanesi",
                    "PermissionKey": "rrrrr"
                },
                {
                    "Tablename": "TvH__Charges",
                    "Identifier": "Charge",
                    "Module": "TvHastanesi",
                    "ConnectionKey": "Natro_TvHastanesi",
                    "PermissionKey": "zzzzzzzzzzz"
                },
                {
                    "Tablename": "TvH__ServiceCharges",
                    "Identifier": "ServiceCharge",
                    "Module": "TvHastanesi",
                    "ConnectionKey": "Natro_TvHastanesi",
                    "PermissionKey": "zzzzzzzzzzz"
                }
            ]
        }
    ],
    "KDiff3Path": "C:\\Program Files\\KDiff3\\kdiff3.exe",
    "WebProjectFile": "..\\..\\..\\Cengaver\\Cengaver.Web\\Cengaver.Web.csproj",
    "ScriptProjectFile": "..\\..\\..\\Cengaver\\Cengaver.Script\\Cengaver.Script.csproj",
    "RootNamespace": "Cengaver",
    "BaseRowClasses": [],
    "RemoveForeignFields": []
}