
@{
    ViewBag.Title = Serenity.LocalText.Get("Db.TvHastanesi.Customer.EntityPlural");
}

<div id="GridDiv"></div>

<script type="text/javascript">
    jQuery(function () {
        new Cengaver.TvHastanesi.CustomerGrid($('#GridDiv'), {}).init();

        Q.initFullHeightGridPage($('#GridDiv'));
    });
</script>