<!DOCTYPE html>
<html>
<head>
    <title> </title>
</head>
<body>
    new layout  ............
    <div id="page-outer-nonav">
        <div id="page-container" class="page-container-common">
            @RenderBody()
        </div>
    </div>

</body>
</html>