<div class="well">
    <div class="row">
        <div class="col-md-2">
            <strong>Bağlantılar</strong>

            <ul style="padding:0;">
                <li>
                    <a href="http://www.zambak.com" target="_blank">Zambak Yayınları</a>
                </li>
                <li>
                    <a href="http://www.zambakegitim.com" target="_blank">Zambak Eğitim</a>
                </li>
                <li>
                    <a href="http://iletisim.zambak.com/bayiler.aspx" target="_blank">Zambak Bayileri</a>
                </li>
                <li>
                    <a href="http://tedes.zambak.com" target="_blank">Tedes</a>
                </li>
            </ul>
        </div>
        <div class="col-md-2">
            <strong>Destek</strong>

            <ul style="padding:0;">
                <li>
                    <a href="sayfa?pageId=24">Destek</a>
                </li>
            </ul>
        </div>
        <div class="col-md-2">
            <strong>Hesabım</strong>

            <ul style="padding:0;"></ul>
        </div>
        <div class="col-md-2">
            <strong>İletişim</strong>

            <ul style="padding:0;">
                <li>
                    <a href="sayfa?pageId=15">Iletişim</a>
                </li>
            </ul>
        </div>
        <div class="col-md-2">
            <strong><a href="http://sinerjidev/b2c_zambak_test/kpss-2015" style="color:#333333;">kpss 2015 yeni</a></strong>

            <ul style="padding:0;">
                <li>
                    <a href="sayfa?pageId=45">kpss yaprak test</a>
                </li>
            </ul>
        </div>
        <div class="col-md-2">
            <strong>Kurumsal</strong>

            <ul style="padding:0;">
                <li>
                    <a href="sayfa?pageId=5">Hakkımızda</a>
                </li>
                <li>
                    <a href="sayfa?pageId=16">İnsan Kaynakları</a>
                </li>
            </ul>
        </div>
        <div class="row"></div>
        <div class="col-md-2">
            <strong>Özel Sayfalar</strong>

            <ul style="padding:0;"></ul>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-4" style="float: right; text-align: right; font-size:12px">
        Design + Code by <span style="color: #FFFFFF; box-shadow: 0 1px 0 0 rgba(255,255,255,0); font-family: 'Comic Sans MS',Helvetica,Arial,sans-serif; font-size: 16px; background-color: rgb(199, 25, 25); border-radius: 4px; padding: 0px 10px 0px 10px;"> cengkaplan </span>  ©2015
    </div>
</div>

        @*<div class="row">
                <div class="col-md-6">
                    <table>
                        <tbody>
                            <tr>
                                <td>
                                    <img class="theme-image-ssl" width="60">
                                </td>
                                <td style="padding-left:10px;">
                                    <span style="font-size:14px; font-weight:bold;">
                                        İnternette <br>
                                        Güvenli Alışveriş
                                    </span>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="col-md-6 text-right">
                    <img class="theme-image-visamastercard" alt="" title="visa mastercard">

                </div>
            </div>*@
