@model Cengaver.TvHastanesi.Models.MaintenanceProductModel

@{
    Layout = "~/Views/TvHastanesi/_Body.cshtml";
    ViewBag.Title = "Servis Durumu Sorgulama - Televizyon Hastanesi";
    ViewBag.PageId = "PublicServiceTicketAskPage";
}


 <br /><br /><br /><br />
@if(Model != null && Model.ServiceTicket != null )
{
    <span> Ürün Seri Numarası :   @Model.ServiceTicket.ProductSerialNumber </span>
}