
@{
    ViewBag.Title = Serenity.LocalText.Get("Db.TvHastanesi.City.EntityPlural");
}

<div id="GridDiv"></div>

<script type="text/javascript">
    jQuery(function () {
        new Cengaver.TvHastanesi.CityGrid($('#GridDiv'), {}).init();

        Q.initFullHeightGridPage($('#GridDiv'));
    });
</script>