
@{
    ViewBag.Title = Serenity.LocalText.Get("Db.TvHastanesi.ServiceTicket.EntityPlural");
}

<div id="GridDiv"></div>

<script type="text/javascript">
    jQuery(function () {
        new Cengaver.TvHastanesi.ServiceTicketGrid($('#GridDiv'), {}).init();

        Q.initFullHeightGridPage($('#GridDiv'));
    });
</script>